.overview_section {
  width: 100%;
  height: auto;
  padding: 1.2rem;
  position: relative;
  background-color: rgb(248, 250, 252);
  box-shadow: rgba(19, 38, 68, 0.1) 0px 2px 16px 0px;

  & h6 {
    color: rgb(25, 40, 57);
    font-family: Inter, "Inter Fallback Arial", Arial;
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0px;
  }

  & p {
    margin-top: -3px;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    color: rgb(41, 80, 219);
    font-family: Inter, "Inter Fallback Arial", Arial;
  }

  .submenu {
    padding: 0.6rem 0.6rem;
    width: 15rem;
    height: auto;
    top: 2.8rem;
    left: 7rem;
    position: absolute;
    box-shadow: rgba(19, 38, 68, 0.12) 0px 8px 24px 0px;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgba(108, 132, 157, 0.18);
    border-radius: 4px;

    & ul {
      padding: 0;
    }

    & ul li {
      cursor: pointer;
      list-style: none;
      color: rgb(25, 40, 57);
      font-family: Inter, "Inter Fallback Arial", Arial;
      font-size: 0.875rem;
      font-weight: 400;
      padding: 0.6rem 1.2rem;
    }

    & li:hover {
      border-radius: 4px;
      background-color: rgba(231, 229, 229, 0.747);
    }
  }

  .box_sec {
    padding: 0.6rem 0 0.1rem;
    width: 100%;
    height: auto;
    background: #fff;

    .collected_amount {
      width: 100%;
      height: auto;
      padding: 1.2rem;
      border-radius: 4px;
      border: 1px solid #d9d9d9;
      background-color: rgb(248, 250, 252);

      & h1 {
        margin-top: 0.6rem;
        color: rgb(25, 40, 57);
        font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;
        font-size: 2rem;
        font-weight: 400;
      }

      & span {
        font-size: 0.875rem;
        font-weight: 400;
        margin: 0px 4px;
        color: rgb(64, 86, 109);
        font-family: Inter, "Inter Fallback Arial", Arial;
      }
    }

    .gridContainer {
      display: grid;
      gap: 1rem;
      margin: 1.2rem 0;
      grid-template-columns: repeat(3, 1fr);
    }

    .box {
      color: fff;
      padding: 20px;
      border-radius: 4px;
      border: 1px solid #d9d9d9;
      background-color: rgb(248, 250, 252);

      & a {
        cursor: pointer;
        display: none;
        font-size: 1rem;
        color: rgb(46, 91, 255);
      }

      & a:hover {
        display: block !important;
      }

      & span {
        color: rgb(25, 40, 57);
        font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.64;
      }

      & h6 {
        color: rgb(23, 27, 32);
        font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;
        font-size: 0.9rem;
        padding-left: 8px;
        font-weight: 400;
        opacity: 0.64;
      }
    }
  }
}

.bottom_footer {
  margin: 1.2rem 0;
  display: flex;
  gap: 0.2rem;

  & p {
    color: #8f96b3;
    font-family: inter;
    font-size: 0.7rem;
  }
  & a {
    color: #8f96b3;
    font-family: inter;
    font-size: 0.7rem;
  }

  .help {
    position: fixed;
    bottom: var(--support-padding-bottom, 20px);
    left: unset;
    right: 40px;
    width: 150px;
    height: 44px;
    border-radius: 100px;
    cursor: pointer;
    background-color: rgb(50, 70, 100);
    transform-origin: center center;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 5px 4px 0px;
    color: rgba(255, 255, 255, 0.88);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 10;

    & h6 {
      margin-left: 4px;
      font-size: 0.8rem;
      font-weight: 600;
      margin: 0;
    }
  }
}
