.hero_section {
  width: 100%;
  height: auto;
  display: flex;
  padding: 1.2rem;
  border-radius: 6px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/public/img/hero-card-bg.jpg");

  & h1 {
    color: rgb(255, 255, 255);
    font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.375rem;
    letter-spacing: 0px;
    margin: 0px;
    padding: 0px;
  }

  & p {
    color: rgb(255, 255, 255);
    font-family: Inter, "Inter Fallback Arial", Arial;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
  }

  /* -------balance-section---------- */

  .balance_section {
    width: 100%;
    height: auto;
    gap: 50px;
    display: flex;
    margin: 0.8rem 0;
    padding: 2.2rem;
    justify-content: space-around;
    background-image: linear-gradient(
      94deg,
      rgb(229, 239, 255) 13.36%,
      rgba(255, 255, 255, 0.61) 93.83%
    );
    border-radius: 8px;

    .left_Section {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & h6 {
        margin: 0px;
        font-weight: 500;
        font-size: 1.125rem;
        color: rgb(25, 40, 57);
        font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;
      }

      & p {
        color: rgb(25, 40, 57);
        font-size: 2rem;
        font-weight: 600;
        margin: 0px;
        font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;

        & span {
          font-weight: 500;
          margin: 0px;
          opacity: 0.64;
          font-size: 1.25rem;
          color: rgb(25, 40, 57);
          font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;
        }
      }
    }

    .right_Section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 1.2rem;
      border-left: 2px solid #d9d9d9;
      position: relative;

      & h6 {
        margin: 0px;
        font-weight: 500;
        font-size: 1.125rem;
        color: rgb(25, 40, 57);
        font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;
      }

      & p {
        color: rgb(25, 40, 57);
        font-size: 2rem;
        font-weight: 600;
        margin: 0px;
        font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;

        & span {
          font-weight: 500;
          margin: 0px;
          opacity: 0.64;
          font-size: 1.25rem;
          color: rgb(25, 40, 57);
          font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;
        }
      }

      & h2 {
        color: rgb(0, 163, 82);
        font-family: Inter, "Inter Fallback Arial", Arial;
        font-size: 0.875rem;
        font-weight: 600;
        margin: 0px;
      }

      & h3 {
        list-style-type: disc;
        margin: 0px;
        font-weight: 600;
        font-size: 0.875rem;
        color: rgb(64, 86, 109);
        font-family: Inter, "Inter Fallback Arial", Arial;
      }

      & a {
        color: rgb(41, 80, 219);
        font-family: Inter, "Inter Fallback Arial", Arial;
        font-size: 0.875rem;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        margin-top: -3px;
      }

      & img {
        width: 6rem;
        height: auto;
        margin-top: -4rem;
      }

      .icon_section {
        position: absolute;
        top: 46%;
        left: -8px;
        width: 1rem;
        height: auto;
      }
    }
  }
}

/* --------section---------- */

.section {
  margin: 1.2rem 0;
  overflow-x: hidden;
  padding: 1.5rem;
  height: auto;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(19, 38, 68, 0.1) 0px 2px 16px 0px;

  & h1 {
    color: rgb(25, 40, 57);
    font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0px;
  }
}

.bottom_footer {
  margin: 1.2rem 0;
  display: flex;
  gap: 0.2rem;

  & p {
    color: #8f96b3;
    font-family: inter;
    font-size: 0.7rem;
  }
  & a {
    color: #8f96b3;
    font-family: inter;
    font-size: 0.7rem;
  }

  .help {
    position: fixed;
    bottom: var(--support-padding-bottom, 20px);
    left: unset;
    right: 40px;
    width: 150px;
    height: 44px;
    border-radius: 100px;
    cursor: pointer;
    background-color: rgb(50, 70, 100);
    transform-origin: center center;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 5px 4px 0px;
    color: rgba(255, 255, 255, 0.88);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 10;

    & h6 {
      margin-left: 4px;
      font-size: 0.8rem;
      font-weight: 600;
      margin: 0;
    }
  }
}
