.paymentsOverviewContainer {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(19, 38, 68, 0.1) 0px;
}

.header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;

  & h3 {
    color: rgb(25, 40, 57);
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;
  }
}

.timeSelect {
  width: 7.5rem;
  font-family: inter;
  padding: 5px 8px;
  border-radius: 4px;
  color: rgb(64, 86, 109);
  border: 1px solid #afafaf;
}

.overviewContent {
  display: flex;
  padding: 20px 0;
}

.collectedAmount,
.refunds,
.orders {
  flex: 1;
  padding: 20px;
  cursor: pointer;
  background-color: #f0f4fa;
  border-right: 1px solid #d9d9d9;

  & p {
    margin: 0px;
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(25, 40, 57);
    font-family: Inter, "Inter Fallback Arial", Arial;
  }

  & span {
    font-family: "TASA Orbiter", "TASA Orbiter Fallback Arial", Arial;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    opacity: 0.64;
  }
}

.activeTab {
  border-radius: 0;
  background-color: #fff;
  border-bottom: 2px solid blue;
}

.infoIcon {
  font-size: 12px;
  margin-left: 5px;
  color: #888;
}
